@import "tailwindcss";


:root {
  --site-background: #ffffff;
  --site-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-background: #0a0a0a;
    --site-foreground: #ededed;
  }
}

input,
textarea,
select,
button {
  background-color: var(--site-background);
  color: var(--site-foreground);
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: none;
  outline: none;
}